node_modules
**/node_modules
.next
**/.next
.vscode
.github
.turbo
**/.turbo
build
debug
dist
bin
.sst
.open-next
cdk*
apps/native
*.so
*.dylib
*.dll
*.exe
*.log
*.tmp
.DS_Store
*.tgz
.env
.env.*
.env.local
.env.*.local
**/node_modules/.cache
**/node_modules/.pnpm
**/node_modules/.bun
**/node_modules/*/node_modules
**/node_modules/*/*/node_modules
**/node_modules/*/*/*/node_modules
**/node_modules/.package-lock.json
