@theme inline {
  --p-50: oklch(0.982 0.0017 247.84);
  --p-75: oklch(0.738 0.0363 238.87);
  --p-100: oklch(0.624 0.053 241.35);
  --p-200: oklch(0.454 0.0776 242.73);
  --p-300: oklch(0.337 0.0922 248.61);
  --p-400: oklch(0.269 0.0701 246.61);
  --p-500: oklch(0.245 0.0643 246.91);

  --s-50: oklch(1 0 0);
  --s-75: oklch(0.917 0.0492 76.11);
  --s-100: oklch(0.884 0.0694 75.26);
  --s-200: oklch(0.835 0.0984 74.76);
  --s-300: oklch(0.804 0.1163 73.49);
  --s-400: oklch(0.617 0.0869 73.3);
  --s-500: oklch(0.559 0.0778 73.22);
  --gray-50: oklch(0.556 0 0);

  --radius: 0.5rem;

  --color-p-50: var(--p-50);
  --color-p-75: var(--p-75);
  --color-p-100: var(--p-100);
  --color-p-200: var(--p-200);
  --color-p-300: var(--p-300);
  --color-p-400: var(--p-400);
  --color-p-500: var(--p-500);

  --color-s-50: var(--s-50);
  --color-s-75: var(--s-75);
  --color-s-100: var(--s-100);
  --color-s-200: var(--s-200);
  --color-s-300: var(--s-300);
  --color-s-400: var(--s-400);
  --color-s-500: var(--s-500);
  --color-gray-50: var(--gray-50);
}
